@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");



#chat_container {
  flex: 1;
  box-sizing: border-box;
  width: 85%;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 10%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-width: 70vw;

  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-behavior: smooth;
  justify-content: center;

}


/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 90%;
  padding: 15px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(52,53,65,0.7);
  padding: 2rem;

  display: grid;
  grid-template-rows: 9fr 1fr;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {

  color: #dcdcdc;
  font-size: 1.2rem;
  text-align: left;
  padding: 1.2rem;

  width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

.chat form {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* position: absolute; */
  bottom: 1rem;
  border-radius: 5px;
}

.chat textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

.chat button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.chat form img {
  width: 30px;
  height: 30px;
}