@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");


.chat{
  display: grid;
  grid-template-rows: 9fr 1fr;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding: 1rem;
}


.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  min-width: 80vw;
  margin:10px auto;
  border-radius: 5px;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  scroll-behavior: smooth;

  }

.msger-chat {
  flex: 1;
  padding: 10px;
  background-image: url('./../../assets/bgChat.jpg');
  object-fit: fill;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  }
  .msger::-webkit-scrollbar { 
    width: 6px;
}

.msger::-webkit-scrollbar-track {
  background: #4570cf;
}
.msger::-webkit-scrollbar-thumb {
  background: #24afdd;
}
  .msger-chat::-webkit-scrollbar {
  width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
  background: #4570cf;
  }
  .msger-chat::-webkit-scrollbar-thumb {
  background: #24afdd;
  }
  .msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  }
  .msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #a7a7a7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  }
  .msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: blueviolet;
  }
  .msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  }
  .msg-info-name {
  margin-right: 10px;
  font-weight: bold;
  }

  .left-msg .msg-bubble {
  border-bottom-left-radius: 0;
  }
  .right-msg {
  flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
  /* background: var(--right-msg-bg); */
  /* color: #ee3c3c; */
  border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
  margin: 0 0 0 10px;
  }

  .msger-chat {
  background-color: #fcfcfe;
  }

/* #chat_container {
  flex: 1;
  box-sizing: border-box;
  width: 85%;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 10%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-width: 70vw;

  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-behavior: smooth;
  justify-content: center;

} */


/* hides scrollbar */
/* #chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 90%;
  padding: 15px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(52,53,65,0.7);
  padding: 2rem;

  display: grid;
  grid-template-rows: 9fr 1fr;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {

  color: #dcdcdc;
  font-size: 1.2rem;
  text-align: left;
  padding: 1.2rem;

  width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* hides scrollbar */
 .message::-webkit-scrollbar {
  display: none;
}

.chat form {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  /* position: absolute; */
   bottom: 1rem;
  border-radius: 5px;
  /* max-width: 867px; */
}

.chat textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

.chat button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.chat form img {
  width: 30px;
  height: 30px;
}