.landing h2{
    font-size: 3rem;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* padding: 2rem; */
}
.hero{
    position: relative;
    top: 10vh;
    height: 80vh;
    justify-content: space-between;
}


.hero .content{
    width: 60%;
    padding: 4rem;
}

.hero button{
    margin: 1rem;
    padding: 1rem;
    width: 70%;
    font-size: 1.2rem;
    color: white;
}

.content h1{
    font-weight: 800;
    font-size: 3rem;
    text-align: left;
    margin: 2rem 0;
}

.hero button:hover{
    background-color: #9094e2;
    color:#0c062f;
}

.hero button a{
    font-size: 1.5rem;
}


.hero-img{
    width: 45%;
    height: 70%;
}


#about p {
    font-size: 1.2rem;
}

#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2.heading{
    padding: 2rem;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.1;
}

#services ul{
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    
}

#why-us{
    background-image: url('../../assets/bg1.png');
}

#why-us div {
    backdrop-filter: blur(30px);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

#why-us p{
    color: black;
}

footer{
    min-height: 20vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 1rem;
}

.logo{
    font-size: 2rem;
    font-weight: 800;
}